.startButton {
  border: 0;
  border-radius: 5px;
  background-color: hsl(0, 0%, 82%);
  padding: 0.25rem 1rem 0.25rem 1rem;
  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 80%);
  }
  &:active {
    background-color: hsl(0, 0%, 75%);
  }
}

.enabledCursor {
  cursor: pointer;
}

.disabledCursor {
  cursor: not-allowed;
}
