.subroot-wrapper {
  margin: 0 auto;
  border: 1px solid red;
  padding: 1em;
  width: 20rem;
  color: #000000;
  text-align: center;
}

.clock-title {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.timer-box {
  margin-top: 1rem;
  text-align: center;
}

#timer-label {
  font-weight: bold;
  font-size: 1.5rem;
}

.length-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.session-length-box {
  text-align: center;
}

#session-label {
  font-weight: bold;
}

.break-length-box {
  text-align: center;
}

#break-label {
  font-weight: bold;
}

.control-box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

#time-left {
  font-weight: 700;
  font-size: 4rem;
}
