*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "MuseoModerno", cursive;
}

.root-wrapper {
  display: flex;
  align-items: center;
  padding: 1em;
  height: 100vh;
}

.subroot-wrapper {
  margin: 0 auto;
  box-shadow: 0px 0px 15px 0 grey;
  border: 0;
  border-radius: 10px;
  background-color: #eeeeee;
  padding: 1em;
  width: 20rem;
  color: #000000;
  text-align: center;
}

.clock-title {
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.timer-box {
  margin-top: 1rem;
  text-align: center;
}

#timer-label {
  font-weight: bold;
  font-size: 1.5rem;
}

.length-box {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.session-length-box {
  text-align: center;
}

#session-label {
  font-weight: bold;
}

.break-length-box {
  text-align: center;
}

#break-label {
  font-weight: bold;
}

.control-box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
