*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#root {
  display: flex;
  align-items: center;
  /* background-color: hsl(0, 45%, 51%); */
  padding: 1em;
  height: 100vh;
}
